# 依赖
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock

# 生产构建文件
dist/
build/

# 本地开发环境
.DS_Store
.env.local
.env.*.local

# 编辑器相关
.vscode/
.idea/
*.swp
*.swo
*~

# 日志
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
.vite/
